---
import Container from "@components/container.astro";
import Faq from "@components/faq.astro";
import Logos from "@components/logos.astro";
import Pricing from "@components/pricing.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { changeLanguage } from "i18next";

changeLanguage("en");

const pricingData = [
	{
		name: "Custom Song Package",
		price: "$249.99",
		popular: true,
		features: [
			"Broadcast-Quality Custom Song",
			"'Track Vision' Creative Summary & Lyric Approval",
			"High-Quality MP3 & WAV Files",
			"'Premier Vid' Music Video Experience",
			"Personalized VJ Intro",
			"Dynamic Lyric Video",
			"Digital Delivery in Hours",
			"Full Rights to Share & Use",
		],
		button: {
			text: "Create Your Song Now",
			link: "https://www.etsy.com/listing/4380754520/last-minute-anniversary-gift-custom-song",
		},
	},
];
---

<Layout title="Pricing">
	<Container>
		<Sectionhead>
			<Fragment slot="title">Pricing</Fragment>
			<Fragment slot="desc">One Complete Package. Everything You Need.</Fragment>
		</Sectionhead>

		<div class="flex justify-center mx-auto max-w-lg mt-20">
			{pricingData.map((item) => <Pricing plan={item} />)}
		</div>
		<!-- <Logos /> -->
		<Faq />
	</Container>
</Layout>
